.Navbar {
  width: 600px;
  height: 50px;
  margin: 0 auto;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.task a {
  padding: 4px 8px ;
  border: 1px solid #000;
  border-radius: 5px;
  color: black;
  background-color: rgb(194, 194, 194);
  text-decoration: none;
}
.task a.active {
  background-color: dodgerblue;
}
